[Unit]
Description=Actualización diaria de Cerebro Hito en datos

[Timer]
OnCalendar=*-*-* 13:00:00 America/Argentina/Cordoba
OnCalendar=*-*-* 19:00:00 America/Argentina/Cordoba
Persistent=true

[Install]
WantedBy=timers.target
